.root{
    padding-bottom: 20px;
    width:100%;
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    scrollbar-width: none;
}
.root div{
    flex-shrink: 0;
}
.reg-button{
    padding-inline: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 40px;
    background-color: rgb(0, 116, 231);
    color:white;
    border: 0px;
    font-size: 17px;
    transition-duration: 0.3s;
    
    position: absolute;



}
.reg-button:hover{
    background-color: black;
    transition-duration: 0.3s;
    
}.div-reg{
    background-color: rgb(219, 238, 255);
    width:300px;
    bordeR:1px solid rgb(65, 0, 216);
    height:200px;
    flex-shrink: 0;
    margin:20px;
   
}
.div-reg::-webkit-resizer{
    border:1px solid black;
    border-radius: 40px;
}
.div-reg::-webkit-resizer:hover{
   background-color: white;
    border-radius: 40px;
}
.divgrid{
    width:500px;
    height:800px;
    border: 1px solid black;
    display:grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-columns: auto auto;

}
.divflex{
    width:98%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}.div1,.div2{
    width:98%;
    background-color: aliceblue;
    height:fit-content;
    max-width:550px;
    margin-top: 20px;


}.div1 h1,.div2 h1{
    margin:20px;
    font-size: 30px;
    font-weight: 400;

}