.maincancontainer {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    overflow-y: auto;
    scrollbar-width: none;
    justify-content: center;
    background-color: rgb(40,40,40);
}

.settop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    height: 8vh;
    width: 100%;
    z-index: 201;
}

.ju {
    padding: 12px;
    display: flex;
    color: rgb(203, 203, 203);
    border: 0px;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 50px;
    background-color: rgb(40, 40, 40);
    font-size: 13px;
  
    font-weight: 400;
    cursor: pointer;
    margin-inline: 10px;

}

.ju i {
    margin-top: 5px;
    margin-inline: 10px;
    font-size: 10px;
}

.ju button:hover {
    background-color: rgba(0, 119, 255, 0.384);
    color: white
}

.ji {
    display: flex;
    align-items: center;
}

.close {
    background-color: transparent;
    border: 0px;
    font-size: 12px;
    margin-inline: 10px;
    color: rgb(255, 255, 255);
    padding: 13px;
    background-color: rgb(30, 30, 30);
    border-radius: 40px;
    width: 40px;
}

.cansidebar {
    width: 20%;
    background-color: rgb(0, 0, 0);
    border-right: 2px solid rgb(20, 20, 20);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 60px;
    top: 0;
    z-index: 200;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(40, 40, 40) rgb(0, 0, 0);
    min-width: 300px;


}

.settingsbox {
    width: 20%;
    height: 90vh;
    padding-bottom: 2vh;
    background-color: rgb(0, 0, 0);
    position: fixed;
    right: 0px;
    top: 8vh;
    z-index: 200;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-color: rgb(40, 40, 40) rgb(0, 0, 0);
  
    display: none;
    min-width: 260px;
    max-width: 280px;
scrollbar-width: thin;
    overflow-x: hidden;
   

}

.canvas {
    height:80vh;
    transition-duration: 0.7s;
    background-color: transparent;

}
/* Default desktop */

.inputbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.inputdata {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

}

.inputdata button {
    color: aliceblue;
    width: 90%;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(30, 30, 30);

}

.tooltop {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    flex-wrap: wrap;




}

.tooltop button {
    width: 42%;
    justify-content: center;
    height: 100px;
    border: 2px solid rgb(40,40,40);
    background-color: rgb(20, 20, 20);
    min-width: 80px;
}

.inputdata button i {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-size: 12px;
    color: aliceblue;
    justify-content: center;


}

.btrdiv {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    background-color: rgb(30, 30, 30);
    border-radius: 40px;
}

.btrdiv p {
    font-size: 13px;
    font-weight: 400;

}

.btrdiv i {
    font-size: 10px;
}

.inputbox h3 {
    font-size: 10px;
    align-self: flex-start;
    margin-left: 5%;
    font-weight: 400;
    margin-top: 10px;
    color: aliceblue;
    padding: 10px;
    background-color: rgb(40, 50, 50);
    border-radius: 40px;
}

.nvelem {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    border-radius: 20px;
    padding-bottom: 10px;
}

.nvelem button {
    margin-top: 0px;
    margin-bottom: 10px;
    border: 0px;
    justify-content: space-around;
    background-color: black;
    color: aliceblue;
    padding: 5px;
    font-size: 13px;
}

.inputbox h3:nth-child(1) {
    margin-top: 70px;
}

.hr {
    height: 2px;
    background-color: rgb(30, 30, 30);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    align-self: center;
    margin-top: 20px;

}

.settingsbox input {
    width: 70%;
    height: 40px;
    border-radius: 5px;
   font-family: Comfortaa;
    font-size: 12px;
    color: rgb(190, 190, 190);
    padding-inline: 20px;
    margin-left: 20px;
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 21, 21);
    border: 1px solid rgb(90, 90, 90);

}
.settingsbox button{
    margin-left: 20px;
    padding:10px;
    border-radius: 100px;
    background-color: rgb(167, 216, 255);
    color:rgb(0, 0, 0);
    border:0px;
    font-size: 10px;
    font-family: Comfortaa;
    margin-top: 10px;
}
.settingsbox button:hover{
    background-color: rgb(55, 55, 55);
    color:white
}
.settingsbox label {
    margin-left: 10%;
    font-size: 10px;
    color: rgb(252, 252, 252);
    font-family:Comfortaa;
    margin-top: 20px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

}



.udiv {
    display: flex;
    align-items: center;
}

.breakpoints button {

    color: rgb(209, 216, 222);


    border: 0px;
    margin-inline: 5px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    width: 40px;
    height: 40px;

}.breakpoints p{
    background-color: rgb(26, 26, 26);
    color:rgb(197, 209, 218);
    padding:8px;
    font-size: 10px;
    border-radius: 10px;
    font-family: Lexend;
  width:60px;
  text-align: center;
  border: 2px solid rgb(75, 75, 75);

}



.settop button:hover {
    background-color:rgb(167, 216, 255);
    color: rgb(0, 0, 0);
}

.uj button {
    color: rgb(157, 157, 157);
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-right: 5px;
    border: 0px;
    background-color: rgb(0, 0, 0);
    border-radius: 40px;
    padding: 5px;

}

.uj h1 {
      color: rgb(203, 211, 218);

    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    border-right: 2px solid rgb(100, 100, 100);
    padding-right: 20px;
    margin-right: 20px;
}

.uj button i {
    margin-top: 4px;
  font-size: 12px;
    border-radius: 30px;
    width: 23px;
    padding: 3px;

}

.sitelogo {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(30, 30, 30);
    margin-left: 20px;

}

.uj {
  
    border-radius: 0px;
    height: 100%;
    display: flex;
    align-items:center;

}

.jh {
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-left: 5%;
    padding: 10px;
    font-weight: 400;
    background-color: whitesmoke;
    width: fit-content;
    border-radius: 40px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    height: 6px; /* Overall container height */
    background-color: rgb(39, 39, 39); /* Fallback track color */
    cursor: pointer;
    border: none;
    padding: 0px;
    margin-top: 20px;
    border-radius: 3px; /* Consistent border radius */
}

/* ===== Track ===== */

/* WebKit browsers (Chrome, Safari) */
input[type=range]::-webkit-slider-runnable-track {
    height: 6px; /* Match container height */
    background: rgb(40,40,40);
    border-radius: 3px;
    border: none;
}

/* Firefox */
input[type=range]::-moz-range-track {
    height: 6px; /* Match container height */
    background: rgb(40,40,40);
    border-radius: 3px;
    border: none;
}

/* Edge / IE */
input[type=range]::-ms-track {
    height: 6px; /* Match container height */
    background: rgb(40,40,40);
    border-radius: 3px;
    border: none;
    color: transparent; /* Hide default ticks */
}

/* Edge filled portions */
input[type=range]::-ms-fill-lower {
    background: dodgerblue; /* Colored portion */
    border-radius: 3px;
    border: none;
}

input[type=range]::-ms-fill-upper {
    background: rgb(40,40,40); /* Unfilled portion */
    border-radius: 3px;
    border: none;
}

/* ===== Thumb (dot) ===== */

/* WebKit browsers */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px; /* Centers thumb on 6px track */
    width: 15px;
    height: 15px;
    background: rgb(167, 216, 255);
    border-radius: 50%;
    transition: background 0.3s, transform 0.2s;
    cursor: grab;
}

/* Firefox */
input[type=range]::-moz-range-thumb {
    width: 15px; /* Consistent with Webkit */
    height: 15px;
    background: dodgerblue;
    border-radius: 50%;
    transition: background 0.3s, transform 0.2s;
    cursor: grab;
    border: none; /* Remove default border */
}

/* Edge / IE */
input[type=range]::-ms-thumb {
    width: 15px; /* Consistent sizing */
    height: 15px;
    background: dodgerblue;
    border-radius: 50%;
    transition: background 0.3s, transform 0.2s;
    cursor: grab;
    border: none;
}

/* ===== Interactive States ===== */

/* Thumb hover effect */
input[type=range]:hover::-webkit-slider-thumb {
    background: #1e90ff; /* Slightly lighter blue */
    transform: scale(1.1);
}

input[type=range]:hover::-moz-range-thumb {
    background: #1e90ff;
    transform: scale(1.1);
}

input[type=range]:hover::-ms-thumb {
    background: #1e90ff;
    transform: scale(1.1);
}

/* Focus states for accessibility */
input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px rgba(30, 144, 255, 0.3);
}

input[type=range]:focus::-moz-range-thumb {
    box-shadow: 0 0 0 3px rgba(30, 144, 255, 0.3);
}

/* Active/grabbing state */
input[type=range]:active::-webkit-slider-thumb {
    cursor: grabbing;
    transform: scale(0.95);
}

input[type=range]:active::-moz-range-thumb {
    cursor: grabbing;
    transform: scale(0.95);
}

.settingsbox input[type=color] {
background-color: transparent;
border: 0px;
outline: none;
width:100%;
margin-left: 0px;
height:80px;
}

/* Focus ring */

.selec{
    width:80%;
    padding-left: 10px;
    height:40px;
    background-color: rgb(22, 22, 22);
    border-radius:5px;
    border: 1px solid rgb(88, 88, 88);
   margin-left: 20px;
   color:rgb(217, 217, 217);
   font-family:Comfortaa;
   font-size: 12px;
}
.res {
    width: 15px;
    height: 15px;
    border-bottom: 30px;
    background-color: rgb(95, 15, 255);
    border:2px solid #ffffff;
    position: absolute;
    bottom: -30px;
    cursor: move;
    left: 47%;
    border-radius: 20px;
}

.popupdiv {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.542);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
   
}

.popclose {
    background-color: transparent;
    border: 0px;
    font-size: 12px;
    margin-inline: 10px;
    color: rgb(255, 255, 255);
    padding: 13px;
    background-color: rgb(30, 30, 30);
    border-radius: 40px;
    width: 40px;
    position: absolute;
    top: 30px;
    left: 30px;

}

.mainpopdiv {
    width: 96%;
    max-width: 800px;
    height: 500px;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
}

.navb {
    width: 100%;
    border-bottom: 2px solid rgb(83, 83, 83);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:grey;
}.navb h1{
    font-size: 20px;
}

.resp {
    padding: 10px;
    display: flex;
    color: rgb(0, 0, 0);
    border: 0px;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 50px;
    background-color: rgb(155, 253, 255);
    font-size: 13px;
    font-family: questrial;
    font-weight: 400;
    cursor: pointer;
    margin-inline: 10px;
}

.resp i {
    margin-top: 4px;
    margin-inline: 6px;
    font-size: 12px;
    color:rgb(0, 128, 92);
}

.resp:hover {
    animation: loop 3s infinite;
}

@keyframes loop {
    50%{
        background-color: rgb(41, 41, 41);
        
    }
    }
.tag{
    padding:8px;
    background-color: rgb(0, 98, 255);
    color:white;
    font-family: outfit;
    font-weight: 4000;
    font-size: 10px;
    width:fit-content;
    position: absolute;
    top:-45px;
    left:0;
    border-radius: 40px;
}.blocks{
    display:none;
}.settingsbox p{
      font-size: 10px;
    align-self: flex-start;
    margin-left: 5%;
    font-weight: 400;
    margin-top: 30px;
    color: aliceblue;
    padding: 10px;
    background-color: rgb(40, 50, 50);
    border-radius: 40px;
    width: fit-content;
}.lg{
    width:200px;
    height:200px;
    border-radius: 20px;

}.selecdiv{
    width:84%;
    height:130px;
    border-radius: 20px;
border: 2px solid rgb(68, 68, 68);
margin-left: 20px;
display:flex;
}
.seldivcont{
     width:84%;
    height:300px;
    overflow-y: scroll;
    border-radius: 20px;
border: 2px solid rgb(68, 68, 68);
margin-left: 20px;

flex-direction: column;
align-items:center;
scrollbar-width: thin;
 scrollbar-color: rgb(67, 67, 67) rgb(0, 0, 0);
 margin-top: 20px;
 padding-bottom: 20px;



}.seldivcont div{
    width:90%;
    height:130px;
    border-radius: 20px;
    margin-top: 20px;
    border:1px solid rgb(65, 65, 65)
  

}.selecdiv button{
    align-self: flex-end;
    margin:10px;


}.settingsbox h2{
    font-size: 12px;
    color:rgb(151, 151, 151);
    margin-left: 20px;
    font-weight: 100;
}hr{
    
    border: 1px solid rgb(61, 61, 61);
    margin-left:20px;
    margin-top:40px ;
}.divopt{
  
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: space-between;
    padding:10px;
    border-radius: 100px;
   padding:12px;
   max-height: 30px;
    background-color: rgb(30,30,30);
    position: absolute;
    margin:20px;
    z-index: 100;
}.divopt p{
    padding:10px;
    background-color: rgb(0,92,255);
    color:white;
    border-radius: 100px;
    width:24px;
    text-align: center;
    font-size: 9px;
}.divopt button{
    background-color: rgb(50,50,50);
    color:white;
    border: 0px;
    border-radius: 100px;
    margin-left: 10px;
    padding: 13px;
    font-size: 10px;
   min-width:40px;
   font-family: lexend;

}.oi3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:80%;
    background-color: rgb(30,30,30);
    margin-bottom: 10px;
    border-radius:10px;
    padding:10px
}.oi3 button{
    margin-top: 0px;
    margin-left: 10px;
}.oi3 p{
    margin-top: 10px;
}.oi{
    width:90%
}.secsidebar{
   position: fixed;
   left:0;
   top:0;
background-color:rgb(0, 0, 0);
   height:100vh;
   width:60px;
   display: flex;
   flex-direction: column;
   align-items:center;
}.secsidebar button:nth-child(1){
    margin-top: 11vh;
}.secsidebar button{
    background-color: transparent;
    border: 0px;
    width:80%;
    border-radius: 100px;
    height:40px;
    color:rgb(182, 182, 182);
    font-size: 14px;}
.secsidebar button:hover{
    background-color: rgb(167, 193, 255);
    color:black

}@keyframes change{
    from{
        background-color: red;
        
    }
    to{
        background-color:blue;
    }
}
